.formulario{
border: solid black;
border-radius: 20px;
padding: 20px;
align-items: center;
margin-bottom: 20px;

}
@media screen and( max-width: 320px)
    {.formulario{
        padding: 10px;
    }
    
}
@media screen and( max-width: 480px)
    {.formulario{
        padding: 10px;
    }
    
}
@media screen and( max-width: 767px)
    {.formulario{
        padding: 10px;
    }
    
}
@media screen and( max-width: 768px)
    {.formulario{
        padding: 10px;
    }
    
}
@media screen and( max-width: 1024px)
    {.formulario{
        padding: 10px;
    }
    
}
