 #root {
     background-color: #CCF294;
     margin: 0;
   
 }



 .Home {
     width: 100%;
     background-color: #CCF294;
 }

 p {
     font-size: 1rem;
 }

 .Titulo {

     text-align: center;
     font-size: 3em;
     margin: 1em;
     overflow: hidden;
     white-space: nowrap;
     /* Evita que el texto se rompa */
     animation: maquina-escribir 2s steps(30);

 }

 @keyframes maquina-escribir {
     from {
         width: 0;
     }

     to {
         width: 100%;
     }
 }

 .sobre-mi {
     text-align: center;
     display: flex;
     align-items: center;
     background-color: #E7F2BD;
     color: #5A6273;

 }


 .sobre-mi p {
     font-size: 1.5rem;
     margin: 15px;
     flex: 1;

 }


 .uruguay {
     width: 100%;
     height: 30rem;
 }

 .Enlaces {
     display: flex;
     justify-content: center;
     /* Centra horizontalmente los elementos */
     align-items: center;
     /* Centra verticalmente los elementos */
     margin: 2rem;
 }

 .enlaces-directos {
     margin: 2rem;
 }

 .enlaces-directos img {
     width: 50px;
     /* Ajusta el tamaño de la miniatura */
     height: auto;
     /* Mantén la proporción de la imagen */
     margin-right: 10px;
     /* Añade espacio entre la miniatura y el texto */
     border-radius: 50%;
 }

 .imagen-Nestor {
     width: 30%;
     border-radius: 100%;
     margin: 1rem;


 }

 @media screen and (max-width: 320px) {
     .imagen-Nestor {
         width: 50%;
         align-items: center;
         display: flex;
         display: inline;


     }
     .enlaces-directos img {
        width: 30px;
        height: auto;
        margin-right: 4px;
        border-radius: 50%;
    }
    .enlaces-directos {
        margin: 0.5rem;
    }

     .Titulo {

         font-size: 1em;
         text-align: center;
         align-items: center;
     }

     .informacion {
         display: block;
     }

     .sobre-mi {
         display: block;
         align-items: center;
     }

    
 }
 .fundacio img {
    width: 20%;
    margin-top: 20px;
   

}
.conocimiento{
    font-size: 0.5rem;
         text-align: center;
         align-items: center;
}

 @media screen and (max-width: 480px) {
     .imagen-Nestor {
         width: 50%;
         align-items: center;
         display: inline;


     }
     .enlaces-directos img {
        width: 30px;
        height: auto;
        margin-right: 4px;
        border-radius: 50%;
    }
    .enlaces-directos {
        margin: 0.5rem;
    }

     .Titulo {
         display: flex;
         font-size: 1em;
         text-align: center;
         align-items: center;
     }

     .informacion {
         display: block;
     }

     .sobre-mi {

         align-items: center;

     }

   
     .conocimiento{
        font-size: 0.5rem;
             text-align: center;
             align-items: center;
    }
    .fundacio img {
        display: none;
    
    }
    
    
 }

 @media screen and (max-width: 767px) {
     .imagen-Nestor {
         width: 50%;
         align-items: center;
         display: inline;


     }
     .enlaces-directos img {
        width: 30px;
        height: auto;
        margin-right: 4px;
        border-radius: 50%;
    }
    .enlaces-directos {
        margin: 0.5rem;
    }

     .Titulo {
         display: flex;
         font-size: 1em;
         text-align: center;
         align-items: center;
     }

     .informacion {
         display: block;
     }

     .sobre-mi {
         display: block;
         align-items: center;

     }

   
     .fundacio img {
        display: none;
    
    }
    .conocimiento{
        font-size: 0.5rem;
             text-align: center;
             align-items: center;
             
    }
   
 }

 @media screen and (max-width: 768px) {
     .imagen-Nestor {
         width: 50%;
         align-items: center;
         display: inline;

     }
     .enlaces-directos img {
        width: 30px;
        height: auto;
        margin-right: 4px;
        border-radius: 50%;
    }
    .enlaces-directos {
        margin: 0.5rem;
    }

     .Titulo {
         display: flex;
         font-size: 1em;
         text-align: center;
         align-items: center;
     }

     .informacion {
         display: block;
     }

     .sobre-mi {
         display: block;
         align-items: center;

     }

     .inf {
         display: block;
     }
     .fundacio img {
        display: none;
    
    }
    .conocimiento{
        font-size: 0.5rem;
             text-align: center;
             align-items: center;
    }
   
 }

 @media screen and (max-width: 1024px) {
     .imagen-Nestor {
         display: inline;
         width: 30%;
         align-items: center;

         justify-content: center;

     }

     .Titulo {
         display: flex;
         font-size: 1em;
         text-align: center;
         align-items: center;
     }

     .informacion {
         display: block;
     }

     .sobre-mi {
         display: block;
         align-items: center;

     }

     .inf {
         display: block;
     }
     .fundacio img {
        display: none;
       
    
    }
    .conocimiento{
        font-size: 0.5rem;
             text-align: center;
             align-items: center;
    }
    
 }


 .fundacio {
     display: flex;
     text-align: center;
     align-items: center;
     background: #E7F2BD;
     color: #5A6273;
     justify-content: center;
 }


 .conocimiento {
    font-size: 3rem;
     text-align: center;
 }

 
 .fundacio h2{
    color: black;
 }

 .img-ug{
    width: 20%;
    margin: 50px;
    border-radius: 20%;
    
    margin-right: 13rem;
 }

 .img-fundacio{
    width: 20%;
    margin: 50px;
    border-radius: 20%;
    margin-left: 15rem;
 }
 
 .Experiencia h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    
    
 }
 .contacto-titulo{
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
 }