.nav {
position: fixed;
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    z-index: 1;
    



}

.nav-bar {
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin: 2rem;
}
@media screen and (max-width: 320px) {
    .nav-bar {
        margin: 0.5rem;
    }
}
@media screen and (max-width: 480px) {
    .nav-bar {
        margin: 0.5rem;
    }
}
@media screen and (max-width: 767px) {
    .nav-bar {
        margin: 0.5rem;
    }
}
@media screen and (max-width: 768px) {
    .nav-bar {
        margin: 0.5rem;
    }
}


.nav-bar:hover {
    color: white;
}